#### **Exécutez le code suivant pour lire le fichier "hotel_booking_data.ccsv". N'hésitez pas à explorer un peu le fichier avant de continuer avec le reste du projet.**

In [1]:
import pandas as pd
import numpy as np

In [2]:
# LECTURE CSV à éxécuter

# lecture à partir de Github pour pouvoir éxécuter le notebook sans se soucier d'importer le fichier csv
url = 'https://raw.githubusercontent.com/moncoachdata/MasterClass_DS_ML/main/hotel_booking_data.csv'
hotels = pd.read_csv(url)

# Sinon lecture classique
# hotels = pd.read_csv("hotel_booking_data.csv")

In [3]:
hotels.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.0,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498

In [4]:
hotels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 36 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
 32  name                            119390 non-null  object
 33  email                           119390 non-null  object
 34  phone-number                    119390 non-null  object
 35  credit_card                     119390 non-null  object
dtypes: float64(4), int64(16), object(16)
memory usage: 32.8+ MB

---
####**Combien y-a-t-il de lignes ?**

In [5]:
len(hotels)

119390

####**Y a-t-il des données manquantes ? Si oui, quelle colonne a le plus de données manquantes ?**

In [6]:
# Code ici
hotels.isnull().sum() # Ajouter .max() pour récuprer directement la plus grande valeur

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
name                                   0
email                                  0
phone-number                           0
credit_card                            0
dtype: int64

In [7]:
print(f"Oui, il y a des données manquantes, la colonne company a le plus de données manquantes : {hotels['company'].isnull().sum()} points de données manquants.")

Oui, il y a des données manquantes, la colonne company a le plus de données manquantes : 112593 points de données manquants.

####**Supprimer la colonne "company" de l'ensemble de données**

In [8]:
hotels = hotels.drop('company', axis = 1)

####**Quels sont les 5 codes pays les plus fréquents dans l'ensemble de données ?**

In [9]:
hotels['country'].value_counts().iloc[0:5]

PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
Name: country, dtype: int64

####**Quel est le nom de la personne qui a payé le tarif journalier moyen le plus élevé ? Quel était ce montant ?**
**taux/tarif journalier moyen = adr (Average Daily Rate)**

In [10]:
# J'ai d'abord éffectuer un tri de la colonne adr afin de trouver la valeur grande, et récuper l'ID
hotels['adr'].sort_values() 
hotels[['adr','name']].iloc[48515]

adr            5400.0
name    Daniel Walter
Name: 48515, dtype: object

####**L'adr est le tarif journalier moyen pour le séjour d'une personne à l'hôtel. Quelle est la moyenne de l'adr pour tous les séjours à l'hôtel de l'ensemble de données ?**

In [11]:
round(hotels['adr'].mean(),2)

101.83

####**Quel est le nombre moyen de nuits pour un séjour dans l'ensemble de données ?**

In [12]:
# J'ai dabord fait ka somme des nuits en semaine et le week_end afin d'obtenir la somme totale
hotels['sum_stays_nights'] = hotels['stays_in_weekend_nights'] + hotels['stays_in_week_nights']
round(hotels['sum_stays_nights'].mean(),2)

3.43

####**Quel est le coût total moyen d'un séjour dans l'ensemble de données ?**
**Pas le *coût moyen journalier*, mais le *coût total* du séjour.**

In [13]:
# On clacule d'abord la somme totale des séjours pour tous les clients, ensuite on calcule la moyenne
hotels['total_paid'] = hotels['adr'] * hotels['sum_stays_nights']
round(hotels['total_paid'].mean(),2)

357.85

####**Quels sont les noms et les emails des personnes qui ont fait 5 "demandes/requêtes spéciales" ?**

In [14]:
# on trouve d'abord le nombre de requête égal à 5, ensuite on utilise comme un filtre
hotels[hotels['total_of_special_requests'] == 5][['name','email']]

                          name                          email
7860             Amanda Harper           Amanda.H66@yahoo.com
11125            Laura Sanders      Sanders_Laura@hotmail.com
14596              Tommy Ortiz            Tommy_O@hotmail.com
14921           Gilbert Miller         Miller.Gilbert@aol.com
14922           Timothy Torres         TTorres@protonmail.com
24630          Jennifer Weaver             Jennifer_W@aol.com
27288           Crystal Horton             Crystal.H@mail.com
27477           Brittney Burke       Burke_Brittney16@att.com
29906          Cynthia Cabrera    Cabrera.Cynthia@xfinity.com
29949              Sarah Floyd              Sarah_F@gmail.com
32267           Michelle Villa         Michelle.Villa@aol.com
39027           Nichole Hebert       Hebert.Nichole@gmail.com
39129         Lindsey Mckenzie       Lindsey.Mckenzie@att.com
39525           Ashley Edwards       Edwards.Ashley@yahoo.com
70114       Christopher Torres   Torres.Christopher@gmail.com
78819   Mrs. Tara Sullivan DVM           Mrs..DVM@xfinity.com
78820           Michaela Brown          MichaelaBrown@att.com
78822        Kurt Maldonado MD              KMD15@xfinity.com
97072         Jason Richardson               Jason.R@zoho.com
97099             Terri Hurley            THurley@xfinity.com
97261        Mrs. Caitlin Webb             Mrs._W@comcast.net
98410             Holly Arroyo          Arroyo_Holly@mail.com
98674          Denise Campbell             Denise_C@gmail.com
99887            Michael Smith            Michael.S42@aol.com
99888       Dr. Trevor Sellers                  Dr._S@aol.com
101569            Kayla Murphy         Kayla.Murphy@yahoo.com
102061         Taylor Martinez    Taylor.Martinez@hotmail.com
109511          Charles Wilson       Charles_Wilson@yahoo.com
109590           Tyler Allison         Tyler.A@protonmail.com
110082          Matthew Bailey         Matthew_Bailey@aol.com
110083       Charlotte Acevedo        Charlotte_A@verizon.com
111909         Darrell Brennan  Brennan_Darrell51@hotmail.com
111911          Melinda Jensen         MelindaJensen@zoho.com
113915            Terry Arnold          Arnold.Terry@zoho.com
114770             Mary Nguyen     Nguyen.Mary@protonmail.com
114909          Lindsay Cuevas      Lindsay.Cuevas40@mail.com
116455       Cynthia Hernandez   CynthiaHernandez@xfinity.com
116457          Angela Hawkins             Angela_H@gmail.com
118817              Sue Lawson            Sue.L52@comcast.net
119161         Alyssa Richards        Alyssa_Richards@aol.com

####**Quel est le pourcentage de séjours à l'hôtel classés comme "clients réguliers / repeat guests" ?**

In [15]:
round(hotels['is_repeated_guest'].mean()*100, 2)

3.19

####**Quels sont les 5 noms de famille les plus courants dans l'ensemble de données ?**

In [16]:
# On utilise str.split(' ') pour séparer les noms de famille des prénoms
hotels['name'].str.split(' ').str[1].value_counts().iloc[0:5]

# Une autre mathode aurait été d'utiliser aussi apply 
# hotels['name'].apply(lambda name: name.split()[-1]).value_counts()[:5]

Smith       2510
Johnson     1998
Williams    1628
Jones       1441
Brown       1433
Name: name, dtype: int64

####**Quels sont les noms des personnes qui avaient réservé pour le plus grand nombre d'enfants et de bébés pour leur séjour ?**

In [17]:
# on ajoute une nouvelle colonne qui contient le nombre d'enfant total puis on fait tri décroissant sur la colonne créée
hotels['total_kids'] = hotels['babies'] + hotels['children']
hotels[['name','adults','total_kids','babies','children']].nlargest(3,'total_kids')

                  name  adults  total_kids  babies  children
328      Jamie Ramirez       2        10.0       0      10.0
46619  Nicholas Parker       2        10.0      10       0.0
78656    Marc Robinson       1         9.0       9       0.0

####**Quels sont les 3 indicatifs de région les plus courants dans les numéros de téléphone ?**
**(L'indicatif régional est constitué des 3 premiers chiffres)**

In [18]:
# on utilise str.split('-') afin de diviser le numéro
print('Code - Total')
hotels['phone-number'].str.split('-').str[0].value_counts().iloc[0:3]

# Une autre mathode aurait été d'utiliser aussi apply 
# hotels['phone-number'].apply(lambda num: num[:3]).value_counts()[:3]

Code - Total

799    168
185    167
541    166
Name: phone-number, dtype: int64

####**Combien d'arrivées ont eu lieu entre le 1er et le 15 du mois (1er et 15 inclus) ?**

In [19]:
# on utilise un lambda terme afin de récupérer les dates souhaitées
hotels['arrival_date_day_of_month'].apply(lambda day: day in range(1,16)).sum()

58152


####**Tâche difficile à réaliser : Créer un tableau de comptage pour chaque jour de la semaine où des personnes sont arrivées.**
**(Par exemple, 5000 personnes sont arrivées le lundi, 3000 le mardi, etc...)**

In [20]:
# On ecrit une fonction afin de créer une seul colonne date

def convert(day,month,year):
    return f'{day}-{month}-{year}'

In [21]:
hotels['date']  = np.vectorize(convert)(hotels['arrival_date_day_of_month'],
                                        hotels['arrival_date_month'],
                                        hotels['arrival_date_year'])

In [22]:
# On le convertie dans le format reconnu par pandas
hotels['date'] = pd.to_datetime(hotels['date'])

In [23]:
# On utilise une méthode afin de récuper le jour correspondant puis effectuer le comptage
hotels['date'].dt.day_name().value_counts()

Friday       19631
Thursday     19254
Monday       18171
Saturday     18055
Wednesday    16139
Sunday       14141
Tuesday      13999
Name: date, dtype: int64